*{
    margin: 0;
    padding: 0;
}
body,html{
    box-sizing: border-box;
}
.main_div{
    height: 100vh;
    max-width: 100vw;
    background-color: #F6F3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main_title{
    font-family: 'outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: black;

}
.line{
 width: 60%;
 height: 0.1px;
 background-color: grey;
 margin-top: 1rem;

}
.card{
    height: 60%;
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.12);
    margin-top: 3rem;
    
}
.tasksbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 2rem;
    height: 80%;
    width: 100%;
    /* background-color: black; */
    flex-wrap: nowrap;
    overflow-y: scroll;
    /* background-color: aqua; */
    padding-left: 0.5rem;

    
}
.inputdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputhere{
    font-family: 'nunito', sans-serif;
    color: #808080;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 18px;
    width: 80%;
    padding: 1rem;

}
.inputhere:focus{
    border: 1px solid grey;
    outline: none;

}
.addbutton{
    font-family: 'nunito', sans-serif;
    background-color: #D4A2E7;
    color: white;
    border: none;   
    border-radius: 10px;
    font-size: 18px;
    padding: 1rem 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.tasksdiv{
    padding: 1rem;
    background-color: #FAEBFF;
    margin-top: 1rem;
    width: 90%;
    border-radius: 10px;
    color: grey;
    font-family: 'outfit', sans-serif;
    font-weight: lighter;
    /* padding: 1.5rem; */
    box-sizing: border-box;

}
.tasksdiv:hover{
    background-color: #D4A2E7;
    color: white;
}
.tasksbox::-webkit-scrollbar {
  display: none;
}
.texttext{
    font-size: 15px;
}
.deletetask{
    /* height: 2rem; */
    /* width: 20px; */
    background-color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    margin-right: 1rem;
    /* border: 1px solid grey; */
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    
}
@media (max-width: 480px) {
    .main_title {
        font-size: 32px;
        text-align: center;
    }

    .card {
        width: 90%;
        height: auto;
        padding: 1.5rem;
        margin-top: 2rem;
    }

    .inputdiv {
        flex-direction: column;
        align-items: stretch;
    }

    .inputhere {
        width: 100%;
        font-size: 16px;
        padding: 0.8rem;
    }

    .addbutton {
        width: 100%;
        margin-left: 0;
        margin-top: 0.8rem;
        padding: 0.8rem;
        font-size: 16px;
    }

    .tasksdiv {
        width: 100%;
        font-size: 14px;
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .deletetask {
        margin-right: 0;
        background: none;
        padding: 0.2rem;
    }

    .tasksbox {
        height: auto;
        max-height: 300px;
        overflow-y: auto;
    }
}

