*{
    margin: 0;
    padding: 0;
}
body,html{
    box-sizing: border-box;
}
.main_div{
    height: 100vh;
    max-width: 100vw;
    background-color: #F6F3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main_title{
    font-family: 'outfit', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: black;

}
.line{
 width: 60%;
 height: 0.1px;
 background-color: grey;
 margin-top: 1rem;

}
.card{
    height: 60%;
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.12);
    margin-top: 3rem;
    
}
.tasksbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 2rem;
    height: 80%;
    width: 100%;
    /* background-color: black; */
    flex-wrap: nowrap;
    overflow-y: scroll;
    background-color: aqua;
    padding-left: 0.5rem;

    
}
.inputdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputhere{
    font-family: 'nunito', sans-serif;
    color: #808080;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 18px;
    width: 80%;
    padding: 1rem;

}
.inputhere:focus{
    border: 1px solid grey;
    outline: none;

}
.addbutton{
    font-family: 'nunito', sans-serif;
    background-color: #D4A2E7;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 1rem 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.tasksdiv{
    padding: 1rem;
    background-color: #FAEBFF;
    margin-top: 2rem;
    width: 80%;
    border-radius: 10px;
    color: grey;
    font-family: 'outfit', sans-serif;
    font-weight: lighter;
    padding: 1.5rem;

}
.tasksdiv:hover{
    background-color: #D4A2E7;
    color: white;
}
.tasksbox::-webkit-scrollbar {
  display: none;
}
.texttext{
    font-size: 15px;
}
@media (max-width=480px) {
    .main_title{
        font-size: 30px;
    }
}
